/*
Theme Name: Theme One Focus Digital
Theme URI: http://onefocusdigital.com
Author: Team One Focus Digital
Author URI: https://onefocusdigital.com
Description: Tema creado a medida para la empresa One Focus Digital
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

/* 
*
*	Paleta de colores
*
*	Color Blue Dark = #242328
*	Color Red Bright  = #F44E26
*	Color Red Dark = #8C3927
*
*/

/* Colores de fondo */
.background-blue-dark { background: #242328; }
.background-red-light { background: #F44E26; }
.background-red-dark { background: #8C3927; }
.background-white { background: #FFFFFF; }
.background-black { background: #000000; }

/* Colores de fuentes */
.color-blue-dark { color: #242328; }
.color-red-light { color: #F44E26; }
.color-red-dark { color: #8C3927; }
.color-white { color: #FFFFFF; }
.color-black { color: #000000; }

body{
	padding-top: 70px;
}
a, .phone{
	font-weight: bold;
	text-decoration: none;
	color: #F44E26;
}
.phone:hover{
	text-decoration: none;
	color: #8C3927;
}

/* Start Row_1 */
.row_1 {
	border-bottom: 14px solid #F44E26;
	position: fixed;
	width: 100%;
	z-index: 999;
	top:0;
}
.row_1 img{
	width: 100%;
	margin-top: 7px;
}
.row_1 ul{
	margin-bottom: 0 !important;
	margin-top: 10px;
}
.row_1 li{
	float: left;
	list-style: none;
}
.row_1 li.active{
	background: #F44E26;
	float: left;
	list-style: none;
}
.row_1 a{
	color: #FFFFFF;
	display: block;
	float: left;
	font-weight: bold;
	padding: 10px 15px 20px 15px;
	text-align: center;
	text-decoration: none;
}
.row_1 a:hover{
	background: #F44E26;
	color: #FFFFFF;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .open > a {
    background-image: linear-gradient(to bottom, rgb(244, 78, 38) 0px, rgb(244, 78, 38) 100%);
    background-repeat: repeat-x;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0) inset;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
    color: #FFF;
    background-color: #080808;
}

.row-new-1{
	border-bottom: 20px solid #F44E26;
	position: fixed;
	width: 100%;
	z-index: 999;
	top: 0px;
	padding-bottom: 0px;
	padding-top: 6px;
}
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    color: #FFF;
    background-color: #F44E26;
}
.navbar-inverse .navbar-nav > li > a {
	color: #FFF;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.row_3 .service {
    border: 2px solid #242328;
    height: 280px !important;
    padding: 20px;
}
.services>div {
    padding-bottom: 11px;
}
.new-logo{
	float: left;
	height: 50px;
	padding: 3px;
	font-size: 18px;
	line-height: 20px;
}
.img-project{
	margin: auto !important ;
}
@media only screen and (max-width: 1200px) {
/* For mobile phones: */
    .container-fluid > .navbar-collapse, 
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container > .navbar-header 
    {
	    margin-right: 0px;
	    margin-left: -37px;
	}
}
@media only screen and (max-width: 993px) {
/* For mobile phones: */
    .container-fluid > .navbar-collapse, 
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container > .navbar-header 
    {
	    margin-right: auto;
	    margin-left: auto;
	}
	.container {
	    width: auto;
	}
	.row_3 .service {
	    height: auto !important;
	}
	.navbar-nav{
		margin: 0px 0px 0px -55px !important;
	}
	.new-logo {
	    height: 50px;
	    font-size: 21px;
	    padding: 12px 0px 12px 0px;
	    float: left;
	    line-height: 20px;
	    margin-left: -16px;
	}
}
@media only screen and (max-width: 820px) {
/* For mobile phones: */
    .container-fluid > .navbar-collapse, 
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container > .navbar-header 
    {
	    margin-right: -29px;
		margin-left: -35px;
	}
	.container {
	    width: auto;
	}
	.new-logo {
	    height: 50px;
	    font-size: 21px;
	    padding: 15px;
	    float: left;
	    line-height: 20px;
	    margin-left: 0px;
	}
}
@media only screen and (max-width: 767px) {
/* For mobile phones: */
    .container-fluid > .navbar-collapse, 
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container > .navbar-header 
    {
	    margin-right: -15px;
	    margin-left: -15px;
	}
	.navbar-nav{
		margin: 1px -14px 0px -14px !important;
	}
	.new-logo{
		float: left;
		height: 50px;
		padding: 8px 0px 8px 0px !important;
		font-size: 18px;
		line-height: 20px;
		margin: 0px 0px 0px -5px !important;
	}
}
@media only screen and (max-width: 450px) {
/* For mobile phones: */
    [class*="logo"] {
        width: 75%;
        margin: 7px;
    }
    .row_3 .services {
	    padding: 30px 0px !important ;
	}
	.row_4 .steps {
	    padding: 30px 0px !important;
	}
	.row_5 .projects {
	    padding: 30px 0px !important;
	}
	.row_6 .contact {
	    padding: 30px 0px !important;
	}
	.new-logo {
    	height: auto !important;
	}
}
/* End Row_1 */


/* Start Row_2 */
.row_2 {
	border-bottom: 14px solid #F44E26;
}
.row_2 .phone:hover{
	color: #242328;
}
.row_2 img{
	margin-top: 20px;
	width: 70%;
}
.row_2 h2{
	padding: 10px 0px;
	font-weight: bold;
}
.row_2 p{
	font-size: 14pt;
}
.row_2 .buttons-banner{
	padding: 10px 0px;
	padding-bottom: 30px;
}
.row_2 button{
	background: none;
	border: 2px solid #FFFFFF;
	border-radius: 0px;
	color: #FFFFFF;
	font-size: 10pt;
	font-weight: bold;
	margin: 0px 20px;
	text-shadow: none;
	width: 200px;
}
.row_2 a.btn, .row_2 a.btn:hover, .row_2 a.active:hover, .row_2 button:hover, .row_2 button.active:hover{
	background: #8C3927;
	border: 2px solid #F44E26;
	border-radius: 0px;
}
.row_2 a.btn, .row_2 a.btn:hover, .row_2 a.active:hover, .row_2 button.active{
	background: #F44E26;
	border: 2px solid #F44E26;
	box-shadow: none;
	color: #FFFFFF;
	border-radius: 0px;

	font-size: 10pt;
    font-weight: bold;
    margin: 0px 20px;
    text-shadow: none;
}
.row_2 button i{
	font-weight: bold;
}
@media only screen and (max-width: 547px) {
	.buttons-banner > a
	{
		margin-bottom: 11px !important;
		display: block !important;
		width: 92% !important;
	}
	.buttons-banner > button
	{
		margin-left: 19px !important;
		/*width: 202px !important;*/
		display: block !important;
		width: 92% !important;
	}
}
.row_2 .new-btn {
    background: transparent none repeat scroll 0% 0% !important;
    border: 2px solid #FFF !important;
    border-radius: 0px !important;
    color: #FFF !important;
    font-size: 10pt !important;
    font-weight: bold !important;
    margin: 0px 20px !important;
    text-shadow: none !important;
}
/* End Row_2 */


/* Start Row_3 */
.row_3 .services{
	padding: 30px 70px;
}
.row_3 .title-services h3{
	font-weight: bold;
	margin: 0px;
	padding: 15px 0px;
}
.row_3 .service{
	border: 2px solid #242328;
	height: 260px;
	padding: 20px;
}
.row_3 .service .title-services{
	font-size: 12pt;
	font-weight: bold;
	margin: 10px 0px;
}
.row_3 .service i{
	border-radius: 50%;
	padding: 15px 15px 10px 15px;	
}
/* End Row_3 */


/* Start Row_4 */
.row_4{
	border-top: 5px solid #F44E26;
}
.row_4 .steps{
	padding: 30px 70px;
}
.row_4 .title-steps h3{
	margin: 0px;
	padding: 15px 0px;
	font-weight: bold;	
}
.row_4 .step{
	margin-bottom: 10px;
}
.row_4 .step .title-step-1 h4{
	font-size: 11pt;
	font-weight: bold;
	margin-bottom: 3px;
}
.row_4 .icon-step{
	background: #F44E26;
	margin-top: 10px;
	text-align: center;
}
.row_4 .numero-steep{
	color: #FFFFFF;
	font-size: 30pt;
	font-weight: bold;
}
.row_4 .imagen-idea{
	padding: 10px 0px;
}

/* End Row_4 */


/* Start Row_5 */
.row_5{
	border-top: 5px solid #F44E26;
}
.row_5 .projects{
	padding: 30px 70px;
}
.row_5 .title-projects h3{
	margin: 0px;
	padding: 15px 0px;
	font-weight: bold;	
}
.row_5 .project{
	padding: 12px;
}
.row_5 .img-project img{
	width: 100%;
}
.row_5 .title-project h4{
	text-align: center;
	font-weight: bold;
}
/* End Row_5 */


/* Start Row_6 */
.row_6{
	border-top: 5px solid #F44E26;
}
.row_6 .contact{
	padding: 30px 70px;
}
.row_6 .title-contact h3{
	margin: 0px;
	padding: 15px 0px;
	font-weight: bold;	
}
.row_6 h4{
	font-weight: bold;
}
.row_6 p{
	font-size: 12pt;
}
.row_6 input, .row_6 select, .row_6 textarea{
	background: #242328;
	color: #FFFFFF;
	border: 0px;
	border-radius: 0pt;
}
.row_6 .input-group-addon{
	border: 0px;
}
.row_6 button{
	background: #F44E26;
	color: #FFFFFF;
	font-weight: bold;
	border-radius: 0px;
	border: 0px;
}
.boton-enviar{
	background: #F44E26 !important;
	color: #FFFFFF;
	font-weight: bold;
	border-radius: 0px;
	border: 0px
}
.quiz-style{
	margin-bottom: 25px;
}
.quiz-style>.input-group>p {
        height: 0px;
}
.quiz-style>.input-group>p>span>label{
        margin-bottom: 0px !important;
        width: 100%;
}
.quiz-style>.input-group>p>span>.wpcf7-not-valid-tip{
	position: absolute;
    margin-left: -110%;
    margin-top: 32px;
    padding-left: 10%;
}
.wpcf7-not-valid-tip,.wpcf7-validation-errors{
	color: red;
}
.screen-reader-response{
	display: none;
}
.row_7 h5{
	font-weight: bold;
}
.row_7 .footer{
	padding: 24px;
}
.row_7 h5, .row_7 p{
	margin: 0px;
}
.row_7 a:hover{
	text-decoration: none;
	color: #8C3927;
}
/* End Row_6 */

/* Settings for individual page */
/*.row_2,html,body{								
	height:100% !important;
}*/
.contenido-banner{
	padding-top: 2%;
}
.row_2 img {
    margin-bottom: 20px;
}
.page-header {
    padding-bottom: 0px;
    margin: 40px 0px 0px;
    /*margin-left: 1.4% !important;*/
    border-bottom: 2px solid #F44E26;
}
.banner{
	padding-bottom: 22px;
}
.img-page-inf{
	margin-top: 14px;
}
/* End settings for individual page */

/*bs-callout*/
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 0px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}
.bs-callout-theme {
    border-left-color: #F44E26;
    background: white none repeat scroll 0% 0%;
    color: #232428;
}
.bs-callout-theme h5,.bs-callout-theme h4,.bs-callout-theme h3,.bs-callout-theme h2, .bs-callout-theme h1 {
    color: #F44E26;
}
/*End bs-callout*/

.modal-open{
	overflow: scroll;
	overflow: hidden;
	padding-right: 0px !important;
}
/*
.wpsisac-slick-carousal button.slick-arrow {
    z-index: 998 !important;
}
.wpsisac-slick-carousal.design-6 .slick-prev {
    left: -3% !important;
}
.wpsisac-slick-carousal.design-6 .slick-next {
    right: -3.3% !important;
}

.wpsisac-slick-carousal.design-6 .slick-image-slide {
    margin-left: 10px !important;
    margin-right: 10px !important;
    margin-top: 38px !important;
}*/
.slider-projects  img{
    height:  250px !important;
    width: 250px !important;
    margin: auto;
}
.slider-projects>div{
    margin-bottom: 15px;
}
.wpsisac-slick-slider {
    background: #FFF none repeat scroll 0% 0%;
}
.wpsisac-slick-slider button.slick-arrow {
    z-index: 998 !important;
}