/*
*
*	Style theme One Focus Digital
*	CSS integrations
*
*	Standard dev FrontEnd
*
*/

/* 
*
*	Paleta de colores
*
*	Color Blue Dark = #242328
*	Color Red Bright  = #F44E26
*	Color Red Dark = #8C3927
*
*/

/* Colores de fondo */
.background-blue-dark { background: #242328; }
.background-red-light { background: #F44E26; }
.background-red-dark { background: #8C3927; }
.background-white { background: #FFFFFF; }
.background-black { background: #000000; }

/* Colores de fuentes */
.color-blue-dark { color: #242328; }
.color-red-light { color: #F44E26; }
.color-red-dark { color: #8C3927; }
.color-white { color: #FFFFFF; }
.color-black { color: #000000; }


a, .phone{
	font-weight: bold;
	text-decoration: none;
	color: #F44E26;
}
.phone:hover{
	text-decoration: none;
	color: #8C3927;
}

/* Start Row_1 */
.row_1 {
	border-bottom: 14px solid #F44E26;
	position: fixed;
	width: 100%;
	z-index: 999;
}
.row_1 img{
	width: 100%;
	margin-top: 7px;
}
.row_1 ul{
	margin-bottom: 0 !important;
	margin-top: 10px;
}
.row_1 li{
	float: left;
	list-style: none;
}
.row_1 li.active{
	background: #F44E26;
	float: left;
	list-style: none;
}
.row_1 a{
	color: #FFFFFF;
	display: block;
	float: left;
	font-weight: bold;
	padding: 10px 15px 20px 15px;
	text-align: center;
	text-decoration: none;
}
.row_1 a:hover{
	background: #F44E26;
	color: #FFFFFF;
}
/* End Row_1 */


/* Start Row_2 */
.row_2 {
	padding-top: 70px;
	border-bottom: 14px solid #F44E26;
}
.row_2 .phone:hover{
	color: #242328;
}
.row_2 img{
	margin-top: 20px;
	width: 70%;
}
.row_2 h2{
	padding: 10px 0px;
	font-weight: bold;
}
.row_2 p{
	font-size: 14pt;
}
.row_2 .buttons-banner{
	padding: 10px 0px;
	padding-bottom: 30px;
}
.row_2 button{
	background: none;
	border: 2px solid #FFFFFF;
	border-radius: 0px;
	color: #FFFFFF;
	font-size: 10pt;
	font-weight: bold;
	margin: 0px 20px;
	text-shadow: none;
	width: 200px;
}
.row_2 button:hover, .row_2 button.active:hover{
	background: #8C3927;
	border: 2px solid #F44E26;
}
.row_2 button.active{
	background: #F44E26;
	border: 2px solid #F44E26;
	box-shadow: none;
	color: #FFFFFF;
}
.row_2 button i{
	font-weight: bold;
}
/* End Row_2 */


/* Start Row_3 */
.row_3 .services{
	padding: 30px 70px;
}
.row_3 .title-services h3{
	font-weight: bold;
	margin: 0px;
	padding: 15px 0px;
}
.row_3 .service{
	border: 2px solid #242328;
	height: 260px;
	padding: 20px;
}
.row_3 .service .title-services{
	font-size: 12pt;
	font-weight: bold;
	margin: 10px 0px;
}
.row_3 .service i{
	border-radius: 50%;
	padding: 15px 15px 10px 15px;	
}
/* End Row_3 */


/* Start Row_4 */
.row_4{
	border-top: 5px solid #F44E26;
}
.row_4 .steps{
	padding: 30px 70px;
}
.row_4 .title-steps h3{
	margin: 0px;
	padding: 15px 0px;
	font-weight: bold;	
}
.row_4 .step{
	margin-bottom: 10px;
}
.row_4 .step .title-step-1 h4{
	font-size: 11pt;
	font-weight: bold;
	margin-bottom: 3px;
}
.row_4 .icon-step{
	background: #F44E26;
	margin-top: 10px;
	text-align: center;
}
.row_4 .numero-steep{
	color: #FFFFFF;
	font-size: 30pt;
	font-weight: bold;
}
.row_4 .imagen-idea{
	padding: 10px 0px;
}

/* End Row_4 */


/* Start Row_5 */
.row_5{
	border-top: 5px solid #F44E26;
}
.row_5 .projects{
	padding: 30px 70px;
}
.row_5 .title-projects h3{
	margin: 0px;
	padding: 15px 0px;
	font-weight: bold;	
}
.row_5 .project{
	padding: 12px;
}
.row_5 .img-project img{
	width: 100%;
}
.row_5 .title-project h4{
	text-align: center;
	font-weight: bold;
}
/* End Row_5 */


/* Start Row_6 */
.row_6{
	border-top: 5px solid #F44E26;
}
.row_6 .contact{
	padding: 30px 70px;
}
.row_6 .title-contact h3{
	margin: 0px;
	padding: 15px 0px;
	font-weight: bold;	
}
.row_6 h4{
	font-weight: bold;
}
.row_6 p{
	font-size: 12pt;
}
.row_6 input, .row_6 select, .row_6 textarea{
	background: #242328;
	color: #FFFFFF;
	border: 0px;
	border-radius: 0pt;
}
.row_6 .input-group-addon{
	border: 0px;
}
.row_6 button{
	background: #F44E26;
	color: #FFFFFF;
	font-weight: bold;
}
.row_7 h5{
	font-weight: bold;
}
.row_7 .footer{
	padding: 20px;
}
.row_7 h5, .row_7 p{
	margin: 0px;
}
.row_7 a:hover{
	text-decoration: none;
	color: #8C3927;
}
/* End Row_6 */